.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 3 columns of equal width */
    gap: 10px; /* Adds some space between grid items */
    background-color: rgb(240, 239, 239);
  }
  
    .grid-item4 {
    background-color: rgb(240, 239, 239);
    color: rgb(20, 19, 19);
    padding: 30px;
    text-align: center;
    /* border: 5px solid black; */
  }

.grid-item1{
    background-color: rgb(240, 239, 239);
    text-align: left;
    .fp{
        display: flex;
        gap: 10px;
    }
    
}

.grid-item2{
    background-color: rgb(240, 239, 239);
    position: relative;
    right: 200px;
    text-align: left;
    .fp2{
        display: flex;
        
        gap: 10px;

        .ll2{
            padding-top: 20px;
        }
        .ll2-1{
            padding-bottom: 10px;
            font-size: 450%;
        }
    }

    .fp3{
        display: flex;
      
        .ll22{

            padding-right: 30px;
        }
        .ll222{
            position: relative;
            bottom: 27px;
            font-size: 450%;
            
        }
    }

    .fp4{
        display: flex;
          
        .ll444{
            padding-left: 20px;
            position: relative;
            bottom: 27px;
            font-size: 450%;
        }
    }

    .fp5{
        display: flex;
        
        .ll555{
            padding-left: 20px;
            position: relative;
            bottom: 27px;
            font-size: 450%;
        }
    }

}

  .grid-item3{
    
    background-color: rgb(240, 239, 239);
    position: relative;
    bottom: 15px;
    padding: 30px;
    text-align: center;

   .chi1{
     display: flex;
    .left11{
        font-size: xx-large;
        padding-top: 105px;
        padding-left: 15px;
    }
   }

   .adults1{
    /* border: red 3px solid; */
    padding-top: 10px;
    text-align: center;
    padding-right: 390px;
    font-size: 200%;
    position: relative;
    bottom: 39px;
    
    .adults11{
        position: relative;
        bottom: 80px;
    }
   }

   .ppl7{
    display: flex;
    .people7{
        /* border: red solid 3px; */
        flex-direction: row;
        position: relative;
        bottom: 300px;
        left: 350px;
        font-size: 340%;
    }
   }

   .young{
    font-size: 200%;
    position: relative;
    bottom: 370px;
    right: 200px;
   }

.young1{
    position: relative;
    bottom: 50px;
}

   .young5{
    display: flex;
    position: relative;
    bottom: 590px;
    left: 350px;
    .people5{
        font-size: 340%;
    }
   }

   .children{
    position: relative;
    bottom: 640px;
    right: 210px;
    font-size: 200%;

    .children33{
        
        position: relative;
        bottom: 30px;
    }

   }

   .children3{
    display: flex;
    position: relative;
    bottom: 830px;
    left: 350px;
    .people3{
        font-size: 340%;
    }
    
}

  }


  .grid-item4{
    position: relative;
    right: 390px;
    bottom: 15px;
    margin-left: 200px;
    
    .prt1{
        position: relative;
        right: 300px;
        
    }
    
    .first{
        position: relative;
        bottom: 120px;
       left: 200px;
       text-align: left;
    }

    .second{
        position: relative;
        bottom: 120px;
       right: 100px;
    }

    .third{
        position: relative;
        bottom: 120px;
       left: 49px;
    }


    .prt2{
        position: relative;
        right: 300px;
        bottom: 50px;
    }

    .one1{
        position: relative;
        bottom: 155px;
       right: 130px;
    }

    .two2{
        position: relative;
        bottom: 150px;
        right: 130px;
      
    }

    .three3{
        position: relative;
        bottom: 160px;
       left: 49px;
    }

    .prt3{
        position: relative;
        right: 300px;
    }

    .onee{
        position: relative;
        bottom: 100px;
       right: 130px;
    }

    .twoo{
        position: relative;
        bottom: 100px;
       right: 130px;
    }

    .threee{
        position: relative;
        bottom: 100px;
       left: 49px;
    }
    
  }